.welcome__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nosifer', cursive;
    height: 100%;
}

.welcome-header__container {
    height: fit-content;    
    font-size: 6vw;
}